@font-face {
  font-family: 'Anja Elaine Web';

  src: url('../fonts/title/anja_eliane_accent002.eot');
  src: url('../fonts/title/anja_eliane_accent002.eot?#iefix') format('embedded-opentype'),
       url('../fonts/title/anja_eliane_accent002.woff2') format('woff2'),
       url('../fonts/title/anja_eliane_accent002.woff') format('woff'),
       url('../fonts/title/anja_eliane_accent002.ttf') format('truetype');

  font-weight: $font-weight-ultra;
  font-style: normal;
}

@font-face {
  font-family: 'Champagne and Limousines Web';

  src: url('../fonts/body/champagne__limousines.eot');
  src: url('../fonts/body/champagne__limousines.eot?#iefix') format('embedded-opentype'),
       url('../fonts/body/champagne__limousines.woff2') format('woff2'),
       url('../fonts/body/champagne__limousines.woff') format('woff'),
       url('../fonts/body/champagne__limousines.ttf') format('truetype');

  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: 'Champagne and Limousines Web';

  src: url('../fonts/body/champagne__limousines_bold.eot');
  src: url('../fonts/body/champagne__limousines_bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/body/champagne__limousines_bold.woff2') format('woff2'),
       url('../fonts/body/champagne__limousines_bold.woff') format('woff'),
       url('../fonts/body/champagne__limousines_bold.ttf') format('truetype');

  font-weight: $font-weight-heavy;
  font-style: normal;
}
