.post {
  margin: 0 auto $base-spacing;
  padding: $base-spacing;
  background: $post-background;
  color: $post-foreground;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    vertical-align: bottom;
  }

  .media-wrapper {
    margin: -$base-spacing;
    margin-bottom: $base-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  figcaption {
    position: relative;
    z-index: 2;
  }

  p {
    position: relative;
  }

  a.tumblr_blog {
    font-size: $font-size-h4;
    font-family: $header-font-family;
    line-height: $header-line-height;
    text-decoration: none;
    display: inline-block;

    background: $background-dark;
    text-transform: uppercase;
    padding: 0.25em 0.25em 0.07em;
    margin-right: -2em;

    position: absolute;
    left: -0.4em;
    bottom: -0.35em;

    @include wonky;
  }

  blockquote {
    background: $background-dark;
    border: none;
    margin-top: -$font-size-h4;
    padding: $base-spacing / 2;

    a.tumblr_blog {
      font-size: $font-size-h5;
    }

    blockquote {
      margin-bottom: $base-spacing / 4;
      padding-top: $base-spacing / 4;
      padding-bottom: 0;
      padding-right: 0;
      border-left: $base-border-size solid rgba(0,0,0,0.2);
    }
  }

  @media #{$mq-desktop} {
    figure {
      margin-bottom: 0;
    }
  }
}

.post.reblogged {
  .media-wrapper {
    margin-bottom: -($base-spacing * 1.5);
  }

  @media #{$mq-desktop} {
    figure {
      margin-bottom: $base-spacing;
    }
  }
}

nav.sources,
footer.postmeta {
  a {
    text-decoration: none;

    span {
      font-family: $header-font-family;
      font-weight: $font-weight-heavy;
      text-transform: uppercase;
    }
  }
}

footer {
  padding: 0;
  margin: 0;
}

nav.sources {
  a {
    display: block;

    span {
      line-height: 1;
      border: none;
    }
  }

  .post:not(.with-caption) & {
    margin-top: $base-spacing * 2.5;
  }
}

footer.postmeta {
  font-size: 1.2em;
  font-family: 'Champagne and Limousines Web', sans-serif;
  font-weight: $font-weight-heavy;

  @media #{$mq-desktop} {
    position: absolute;
    top: 0;
    right: 100%;
    text-align: right;
    margin-right: $base-spacing/2;

    a {
      white-space: nowrap;
    }

    .separator {
      display: none;
    }
  }
}
