$header-font-family: 'Anja Elaine', sans-serif;
$header-letter-spacing: 0.015em;

$background: #d69cd8;
$background-dark: #ac8adf;
$foreground: #fff;

$footer-background: #a3d9d9;
$footer-foreground: #fff;

$footer-spike-size: 25px;
$footer-height: 6.5rem;

$inner-content-width: 600px;

@import "vanilla/base";
@import "fonts";

@import "scaffolding";
@import "typography";

@import "spiky-footer";

@import "navigation";
@import "navigation-lets-chat";

@import "posts";

@import "pagination";
