$header-font-family: 'Anja Elaine', sans-serif;
$header-letter-spacing: 0.015em;

$background: #d69cd8;
$background-dark: #ac8adf;
$foreground: #fff;

$footer-background: #a3d9d9;
$footer-foreground: #fff;

$footer-spike-size: 25px;
$footer-height: 6.5rem;

@import "vanilla/base";
@import "fonts";

html {
  background-attachment: fixed;
  background-image: url("../images/bgbats.png"), linear-gradient(180deg,#ac8adf 30%,#d69cd8 65%);
  background-size: cover;
  background-position: top center;

  color: $foreground;
}

/*
// potentially dodgy scroll-jacking thinger
// disables elastic scrolling, and also lets
// the footer (and also me) to sit over the scrollbar
html {
  overflow: hidden;

  body {
    overflow: auto;
  }
}
*/

main {
  padding: $base-spacing;
}

a {
  color: $foreground;
}

.page {
  min-height: 100%;
  position: relative;
  overflow: hidden;

  padding-bottom: $footer-height + $base-spacing;
}

.spiky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  padding: ($base-section-padding / 4) 0;

  color: $footer-foreground;

  .background {
    z-index: -1;
    position: absolute;
    top: -10%;
    left: -5%;
    right: -5%;
    bottom: -50%;

    background: $footer-background;

    @include transform(rotate(-3.2deg) perspective(999px));

    // try and clean up dodgy borders when rotating
    @include backface-visibility(hidden);

    // make the background not exist as a selectable Thinger
    @include user-select(none);
    pointer-events: none;

    &:before {
      content: " ";
      position: absolute;
      top: -($footer-spike-size * 0.8);
      left: 0px;

      width: 100%;
      height: $footer-spike-size;

      background-image: url("../images/pointy.svg");

      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .dani {
    width: 16rem;

    position: absolute;
    z-index: 1;

    top: -14rem;
    right: -3.5rem;

    @include user-select(none);
    pointer-events: none;

    @media #{$mq-desktop} {
      top: auto;
      bottom: 0;
      right: -7.5rem;
    }
  }

  .hi-im-dani {
    position: relative;
    z-index: 2;

    text-align: right;
    margin: 0 auto 0;
    padding: 0 7em 0 0;

    @include transform(rotate(-3.2deg) translate3d(0,0,0));
  }
}

h1 {
  margin: 0;
  line-height: 0.8;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;

  font-size: 4rem;

  @media #{$mq-desktop} {
    font-size: 4.5rem;
  }

  a {
    text-decoration: none;
  }
}

nav {
  position: relative;
  z-index: 2;

  font-family: "Champagne and Limousines", sans-serif;
  font-size: $font-size-h6;
  font-weight: $font-weight-heavy;
  letter-spacing: 0.05em;
  line-height: 1.62rem;

  a {
    text-decoration: none;
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline-block;
      line-height: 1.15em;
      border-bottom: 0.125em solid;
    }
  }
}

nav.lets-chat♪ {
  a {
    background-image: url("../images/social-icons.png");
    background-size: 1.5em auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 1.5em;
  }

  a.twitter { }
  a.twitch  { background-position: 0 50% }
  a.ask     { background-position: 0 100% }
}

.post {
  margin: 0 auto $base-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    vertical-align: bottom;
  }
}

footer {
  padding: $base-section-padding 0;
}

nav.page-in-ation {
  margin: 0 auto $base-spacing;
  font-size: $font-size-h4;

  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include transform(rotate(-3.2deg) translate3d(0,0,0));

  a {
    margin: 0 0.5em;
  }
}
